<div class="container">
  <div class="row m-3">
    <div class="col">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="table" routerLinkActive="active">
            <vtc-caption value="table" view="V_TABS"></vtc-caption>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="messages" routerLinkActive="active">
            <vtc-caption value="messages" view="V_TABS"></vtc-caption>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="lists" routerLinkActive="active">
            <vtc-caption value="lists" view="V_TABS"></vtc-caption>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="indicators" routerLinkActive="active">
            <vtc-caption value="indicators" view="V_TABS"></vtc-caption>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="dateTime" routerLinkActive="active">
            <vtc-caption value="dateTime" view="V_TABS"></vtc-caption>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="masks" routerLinkActive="active">
            <vtc-caption value="masks" view="V_TABS"></vtc-caption>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row m-3">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<vtc-toast-view>
</vtc-toast-view>
