<div class="row">
  <div class="col">
    <input type="text" class="form-control" [(ngModel)]="vs.email" vtcEmail vtcPlaceholderCaption="enter_email"/>
    {{vs.email}}
  </div>
</div>
<div class="row mt-5">
  <div class="col">
    <input type="text" class="form-control" [(ngModel)]="vs.phone" [vtcPhone]="maskPhone"/>
    {{vs.phone}}
  </div>
</div>
<div class="row mt-5">
  <div class="col">
    <input type="text" class="form-control" [(ngModel)]="vs.year" [vtcNumber] vtcPlaceholderCaption="enter_number"/>
    {{vs.year}}
  </div>
</div>
