<div class="row">
  <div class="col">
    <input type="text" class="form-control" [(ngModel)]="vs.email" dvEmail dvPlaceholderCaption="enter_email"/>
    {{vs.email}}
  </div>
</div>
<div class="row mt-5">
  <div class="col">
    <input type="text" class="form-control" [(ngModel)]="vs.phone" [dvPhone]="maskPhone"/>
    {{vs.phone}}
  </div>
</div>
<div class="row mt-5">
  <div class="col">
    <input type="text" class="form-control" [(ngModel)]="vs.year" [dvNumber] dvPlaceholderCaption="enter_number"/>
    {{vs.year}}
  </div>
</div>
<div class="row mt-5">
  <div class="col">
    <dv-phone-input [(ngModel)]="vs.phone2" [items]="phoneMasks"></dv-phone-input>
    {{vs.phone2}}
  </div>
</div>
