<div class="row">
  <div class="col col-auto">
    <button type="button" class="btn btn-primary" (click)="toggleIndicator()">
      <ng-container *ngIf="isShow; then show; else hide;">
      </ng-container>
      <ng-template #show>
        <dv-caption value="show_indicator"></dv-caption>
      </ng-template>
      <ng-template #hide>
        <dv-caption value="hide_indicator"></dv-caption>
      </ng-template>
    </button>
  </div>
  <div class="col col-auto">
    <dv-indicator *ngIf="indicator.isInProgress" classes="fa-2x"></dv-indicator>
  </div>
</div>
