<div class="container">
  <div class="row">
    <div class="col-auto">
      <dv-picker [(date)]="date"></dv-picker>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{date}}
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <dv-date-time-picker [(ngModel)]="dateTimeString"></dv-date-time-picker>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{dateTimeString}}
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <dv-date-time-picker [(ngModel)]="dateString" [withTime]="false"></dv-date-time-picker>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{dateString}}
    </div>
  </div>
</div>

