<div class="container">
  <div class="row">
    <div class="col-auto">
      <vtc-picker [(date)]="date"></vtc-picker>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{date}}
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <vtc-date-time-picker [(ngModel)]="dateTimeString"></vtc-date-time-picker>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{dateTimeString}}
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <vtc-date-time-picker [(ngModel)]="dateString" [withTime]="false"></vtc-date-time-picker>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{dateString}}
    </div>
  </div>
</div>

