<div class="row">
  <div class="col">
    <dv-combobox [(ngModel)]="vs.selectedValue" dataSource="MESSAGES"></dv-combobox>
    {{vs.selectedValue}}
  </div>
</div>
<div class="row mt-5">
  <div class="col">
    <dv-combobox [(ngModel)]="vs.selectedValueAll" dataSource="V_TABS" [showAll]="true"></dv-combobox>
    {{vs.selectedValueAll}}
  </div>
</div>
<div class="row mt-5">
  <div class="col">
    <dv-combobox [(ngModel)]="vs.selectedUserId" [dataSource]="usersProvider"></dv-combobox>
    {{vs.selectedUserId}}
  </div>
</div>
